{% extends 'base.html.twig' %}
{% block background %}
<div class="backgroundLetter">
{% endblock %}
{% block content %}
    <h1 class="text-center child_titre">
        <span class="glyphicon glyphicon-bell"></span> <span class="white">Ma lettre au Père Noël</span>
        <span class="glyphicon glyphicon-bell"></span>
    </h1>

    {{ form_start(form) }}

    <div class="form-group text-center child_form">
        <span class="white">{{ form_label(form.name, 'Mon nom')}}</span><br/>
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
    </div>

    <div class="form-group text-center child_form">
        <span class="white">{{ form_label(form.firstname, 'Mon prénom') }}</span><br/>
    {{ form_widget(form.firstname) }}
    {{ form_errors(form.firstname) }}
    </div>

    <div class="form-group text-center child_form">
        <span class="white">{{ form_label(form.address, 'Mon adresse') }}</span><br/>
    {{ form_widget(form.address) }}
    {{ form_errors(form.address) }}
    </div>

    <div class="form-group text-center child_form">
        <span class="white"> <span class="glyphicon glyphicon-home"></span> {{ form_label(form.city, 'Ma ville') }}</span><br/>
    {{ form_widget(form.city) }}
    {{ form_errors(form.city) }}
    </div>

    <div class="form-group text-center child_form">
        <span class="white">{{ form_label(form.comment, 'Mon petit mot au père Noël') }}</span><br/>
    {{ form_widget(form.comment) }}
    {{ form_errors(form.comment) }}
    </div>

    <div class="form-group text-center child_form">
        <span class="white">{{ form_label(form.country, 'Mon pays') }}</span><br/>
        {{ form_widget(form.country) }}
        {{ form_errors(form.country) }}<br/><br/>

        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-gift">

            </span> Choisir mes cadeaux <span class="glyphicon glyphicon-gift"></span>
        </button>

    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
