{% extends "WCSBundle::base.html.twig" %}
{% block titlePage %}{{ parent() }} - Livraison{% endblock %}
{% block content %}
    <hr/>
        <h3 class="text-center">Livraisons à faire le 24 décembre
        </h3><div class="col-md-12 text-center"><a href="Deconnection" class="btn btn-danger">J'ai fini !</a></div>
        <br/><br/><br/>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for continent in continents %}
                <div class="panel panel-danger col-md-offset-2 col-md-8">
                    <div class="panel-heading" role="tab" id="heading{{ continent.id }}">
                        <p class="panel-title text-center">
                            <a {{ loop.first ? "" : "class='collapsed'" }} role="button" data-toggle="collapse"
                                                                           data-parent="#accordion"
                                                                           href="#collapse{{ continent.id }}"
                                                                           aria-expanded="{{ loop.first ? "true" : "false" }}"
                                                                           aria-controls="collapse{{ continent.id }}">
                                {{ continent.name }}
                            </a>
                        </p>
                    </div>
                    <div id="collapse{{ continent.id }}" class="panel-collapse collapse {{ loop.first ? "in" : "" }}"
                         role="tabpanel" aria-labelledby="heading{{ continent.id }}">
                        <div class="panel-body">
                            {% for country in continent.countries %}
                                {% if country.children|length > 0 %}
                                    <div class="panel panel-warning">
                                        <div class="panel-heading" role="tab" id="heading">
                                            <h1 class="panel-title">{{ country.name }}</h1>
                                        </div>
                                        <div class="panel-body">
                                            {% for child in country.children %}
                                                {% set foo = '1' %}
                                                {% if child.gifts|length > 0 %}
                                                    <div class="panel panel-default col-xs-12 tesst">
                                                        <div class="panel-body tesst">
                                                            {% for gift in child.gifts %}
                                                                {% if gift.build == 1 %}
                                                                    {% if foo == 1 %}
                                                                        <form action="" method="post">

                                                                           Nom de l'enfant : {{ child.name }}<br/>
                                                                            Adresse : {{ child.address }}<br/><br/>
                                                                            <input type="hidden" name="id" value="{{ child.id }}">
                                                                            <button class="btn btn-danger btn-sm pull-right">Livré</button>

                                                                        </form>
                                                                        {% set foo = '0' %}
                                                                        Liste des cadeaux :
                                                                    {% endif %}
                                                                    <li>
                                                                        {{ gift.name }}
                                                                    </li>
                                                                {% endif %}

                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}