{% extends 'base.html.twig' %}
{% block background %}
<div class="backgroundGift">
{% endblock %}
{% block content %}
    <h1 class="text-center child_titre">
        <span class="glyphicon glyphicon-gift"></span> <span class="white">Ma liste de cadeaux</span>
        <span class="glyphicon glyphicon-gift"></span>
    </h1>

    <h3 class="text-center white">Bonjour {{ child.name }}, quels cadeaux veux-tu pour Noël?</h3>

{% if child.gifts|length < 9 %}

    {{ form_start(form) }}
    <div class="form-group text-center white">
    {{ form_label(form.name, 'Le nom de ton Jouet :') }}<br/>
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-bell">
            </span> Ajouter un cadeau <span class="glyphicon glyphicon-bell"></span>
        </button>
    {{ form_end(form) }}

    </div>

{% endif %}

    {% set cadeau = 0 %}
{% for gift in gifts %}
    <li class="text-center white">{{ gift.name }}</li>
        {% set cadeau = cadeau + 1 %}
{% endfor %}
    {% if child.gifts|length >= 9 %}
        <p class="text-center white">Tu as atteint la limite du nombre de cadeaux pour ce Noël !</p>
    {% endif %}
    <h3 class="text-center white">Ta liste contient {{ cadeau }} cadeaux </h3>





</div>
{% endblock %}
