{% extends 'base.html.twig' %}

{% block content %}
    <h1>La liste de mes cadeaux</h1>{{ child.name }}
{% if child.gifts|length < 9 %}
<div class="form-group">
    {{ form_start(form) }}

        {{ form_label(form.name, 'Jouet : ') }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}
    </div>
{% endif %}
{% for gift in gifts %}
    {{ gift.name }}
{% endfor %}


{% endblock %}
