{% extends "WCSBundle::base.html.twig" %}
{% block titlePage %}{{ parent() }} - Fabrication{% endblock %}
{% block content %}
    <hr/>
    <div class="well well-sm">
        <h3>Fabrications Wild Christmas<a href="Deconnection" class="btn btn-default btn-xs pull-right">Déconnection</a></h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for continent in continents %}
                <div class="panel panel-warning">
                    <div class="panel-heading" role="tab" id="heading{{ continent.id }}">
                        <h1 class="panel-title">
                            <a {{ loop.first ? "" : "class='collapsed'" }} role="button" data-toggle="collapse"
                                                                           data-parent="#accordion"
                                                                           href="#collapse{{ continent.id }}"
                                                                           aria-expanded="{{ loop.first ? "true" : "false" }}"
                                                                           aria-controls="collapse{{ continent.id }}">
                                {{ continent.name }}
                            </a>
                        </h1>
                    </div>
                    <div id="collapse{{ continent.id }}" class="panel-collapse collapse {{ loop.first ? "in" : "" }}"
                         role="tabpanel" aria-labelledby="heading{{ continent.id }}">
                        <div class="panel-body">
                            {% for country in continent.countries %}
                                {% if country.children|length > 0 %}
                                    <div class="panel panel-info">
                                        <div class="panel-heading" role="tab" id="heading">
                                            <h1 class="panel-title">{{ country.name }}</h1>
                                        </div>
                                        <div class="panel-body">
                                            {% for child in country.children %}
                                                {% set foo = '1' %}
                                                {% if child.gifts|length > 0 %}
                                                    <div class="panel panel-default col-xs-12 tesst">
                                                        <div class="panel-body tesst">
                                                            {% for gift in child.gifts %}
                                                                {% if gift.build != 1 %}
                                                                    {% if foo == 1 %}
                                                                            <h4>
                                                                                {{ child.name }} -
                                                                                <small>{{ child.address }}</small>
                                                                                </h4>
                                                                        {% set foo = '0' %}
                                                                    {% endif %}
                                                                    <li>
                                                                        <form action="" method="post">
                                                                        <i>{{ gift.name }}</i>
                                                                            <input type="checkbox" name="build" value="{{ gift.id }}" class="form-control" />
                                                                            <input type="hidden" name="bool" value="{{ gift.build }}" />
                                                                            <button class="btn btn-danger btn-sm pull-right" name="submit" value="submit" >Fabriqué</button>
                                                                        </form>
                                                                    </li>
                                                                {% endif %}

                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}